# Archivos con credenciales o configuración sensible
*.config
*.env
*.json
*.ini

# Archivos de usuario y temporales de Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# Archivos de sistema
Thumbs.db
*.tmp
